* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #FFEBCC;
}

.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #FBFFE2;
}

main {
  margin: 5% auto;
  padding: 2%;
  background-color: #5bb6b6;
  width: 80%;
  border-end-start-radius: 50px;
  border-start-end-radius: 50px;
}

.form {
  display: flex;
  padding: 0 1rem;
}

.form-group {
  padding: 1rem 0.75rem;
  flex: 0 0 50%;
}

label {
  text-align: left;
  display: block;
  font-size: 1.3rem;
  color: #3f4553;
}

input::placeholder {
  color: #FBFFE280;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FBFFE2;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}

.list {
  margin: 2rem 0.75rem 0 0.75rem;
  list-style-type: none;
  border: none;
  padding: 0;
}

.item {
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  border-end-start-radius: 20px;
  border-start-end-radius: 20px;
}

.info {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}

.expense {
  margin-right: 1rem;
  text-transform: capitalize;
}

.amount {
  font-weight: 300;
  font-size: 1.2rem;
  border-radius: 2px;
  /* padding: 1px 3px; */
}

button {
  font-family: cursive;
  background-color: #FBFFE2;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 15px 20px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  transition: all 0.4s ease 0s;
  letter-spacing: 0.5px;

}

.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-icon {
  padding: 0;
  margin: 0;
  width: 2rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.edit-btn {
  font-size: 1.5rem;
  color: #45f19b;
}

.clear-btn {
  font-size: 1.5rem;
  color: #ec3737;
}

.edit-btn:hover,
.clear-btn:hover {
  transform: scale(1.5);
}

.total {
  font-weight: 300;
  padding: 2px 5px;
}

.alert {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-transform: capitalize;
  width: 40%;
  margin: 1rem auto;
  border-radius: 10px;

}

.alert-danger {
  background: #f57a7a;
}

.alert-success {
  background: #7ed37e;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: #FBFFE2;
  line-height: 2.5rem;
}

footer span {
  font-size: 0.75rem;
  font-style: italic;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
    font-size: 0.7rem;
    padding-bottom: 1.5rem;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
  }

  .form {
    flex-direction: column;
  }

  .form-group {
    padding: 0.75rem 0;
    flex: 0 0 100%;
  }

  .form-control {
    height: 1.5rem;
    width: 100%;
    font-size: 0.8rem;
    margin: 0 0 8px 0;
    padding: 0;
  }

  label {
    font-size: 1rem;
  }

  .list {
    margin: 0 0.5rem;
  }

  .item {
    margin-bottom: 0.5rem;
    padding: 5px;
  }

  span.expense {
    margin-right: 3px;
  }

  .expense,
  .info,
  .amount,
  .edit-btn,
  .clear-btn {
    font-size: smaller;
  }

  h2 {
    font-size: 1rem;
  }

  .edit-btn,
  .clear-btn {
    margin: 0;
    width: 1.5rem;
  }

  .info {
    text-align: left;
  }


  button {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .btn-icon {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  footer {
    line-height: 1.5rem;
    font-size: smaller;
  }

  header h1 {
    font-size: 1.2rem;
  }
}
